.DS_Store
.swiftpm
/.build

# Gradle
**/gradle/wrapper/gradle-wrapper.jar
**/gradle/wrapper/gradle-wrapper.properties
**/gradlew
**/gradlew.bat

# Example Gradle files
example/.gradle/
example/build/
example/*.iml
example/local.properties
